# Variables de entorno para PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=hito3_db

# Variables de entorno para n8n (Plantilla y Documentación)
N8N_ENCRYPTION_KEY=n8n_encryption_key_change_me
n8n_USER=admin
n8n_PASSWORD=admin123
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Europe/Madrid


